.el-select-dropdown__wrap.el-scrollbar__wrap {
  margin-bottom: 0 !important;
}
.el-scrollbar__thumb {
  background-color: #00a0e9;
}
.el-select-dropdown__item {
  margin: 0 10px;
  border-radius: 4px;
}
.el-select-dropdown__item.selected {
  color: #fff;
  background: #ff8039;
}
.table-header {
  background-color: #f2f2f2 !important;
  > th {
    color: #333333;
    background-color: #f2f2f2 !important;
  }
}
.el-dropdown {
  vertical-align: top;
}
.el-dropdown + .el-dropdown {
  margin-left: 15px;
}
.el-icon-arrow-down {
  font-size: 12px;
}
//登录弹窗中隐藏header
.dialog-longin {
  .el-dialog__header {
    // display: none;
    .el-dialog__headerbtn {
      top: 12px;
    }
  }
  .el-dialog--center .el-dialog__body {
    padding-top: 0;
  }
  .dialog-footer {
    .el-form-item__content {
      button {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}
//个人中心 修改密码btn
.el-form-item__content {
  display: flex;
  button {
    margin-left: 5px;
  }
}
.modify-btn {
  .el-form-item__content {
    margin-left: 0 !important;
    margin-top: 2%;
    justify-content: center;
  }
}
//定义购买须知弹窗宽度
.ready-explain {
  border-radius: 4px;
  .el-dialog__title {
    color: #fff;
  }
  .el-dialog__header {
    text-align: center;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(
      134deg,
      rgba(255, 128, 57, 1) 0%,
      rgba(255, 193, 65, 1) 100%
    );
    // padding-bottom: 15px;
    padding: 10px 0;
  }
  .el-dialog__footer {
    button {
      margin: 0 5px;
      width: 120px;
    }
  }
  .sail-explain {
    display: flex;
    margin: 10px 0;
    line-height: 24px;
    span {
      margin: 0 10px;
    }
    p {
      margin: 0;
    }
  }
}
//购买须知  复选框样式
.article-check {
  margin-left: 10px;
  .el-checkbox__input.is-checked .el-checkbox__inner {
    border-color: #ff5a5a !important;
    background-color: #ff5a5a !important;
  }
  .el-checkbox__inner:hover {
    border-color: #ff5a5a !important;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #ff5a5a;
  }
}
//产品列表单选按钮
.scenic-spot-l {
  .el-radio-group {
    .el-radio-button {
      width: 120px;
      .el-radio-button__inner {
        width: 100%;
        font-size: 16px;
        border: none;
      }
    }
    .el-radio-button:not(.is-active) {
      .el-radio-button__inner {
        background: #ebf4f7;
        color: #3680ff;
      }
    }
    .el-radio-button:first-child {
      .el-radio-button__inner {
        border-left: none !important;
      }
    }
  }
}
